* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #18181D;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  font-size: 0px;
  flex-direction: column;
  justify-content: center;
}

body {
  height: 100%;
}

.content {
  flex: 1 1 auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  color: #18181D;
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.header-body {
  display: flex;
  font-size: 0px;
  background-color: #18181D;
}
.header-body__column.column__1 {
  flex: 0 1 300px;
}
@media (max-width: 767.98px) {
  .header-body__column.column__1 {
    flex: 0 0 250px;
  }
}
@media (max-width: 650px) {
  .header-body__column.column__1 {
    flex: 0 0 200px;
  }
}
@media (max-width: 540px) {
  .header-body__column.column__1 {
    flex: 0 0 0;
  }
}
.header-body__column.column__2 {
  padding: 50px 0px 0px 0px;
  flex: 1 1 auto;
}
.header-body__icon img {
  width: 300px;
  height: 300px;
}
@media (max-width: 767.98px) {
  .header-body__icon img {
    width: 100%;
    height: 100%;
  }
}

.header-menu__icon {
  display: none;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}
.header-menu__icon span {
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header-menu__icon span:first-child {
  top: 0px;
}
.header-menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}
.header-menu__icon.active span {
  transform: scale(0);
}
.header-menu__icon.active span:first-child {
  transform: rotate(-45deg);
  top: 8px;
}
.header-menu__icon.active span:last-child {
  transform: rotate(45deg);
  bottom: 8px;
}
@media (max-width: 790px) {
  .header-menu__icon {
    display: block;
  }
}
.header-menu__menu {
  background-color: #E78818;
  padding: 10px 0;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 790px) {
  .header-menu__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0%;
    background-color: #18181D;
    z-index: 2;
    padding: 50px 10px 20px 10px;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
  .header-menu__menu.active {
    top: 0;
  }
}

.header-menu-list {
  display: flex;
  font-size: 0px;
  justify-content: flex-end;
}
@media (max-width: 790px) {
  .header-menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header-menu-list__link {
  display: block;
  margin: 0px 30px 0px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #18181D;
  position: relative;
}
@media (max-width: 1012px) {
  .header-menu-list__link {
    font-size: 16px;
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 790px) {
  .header-menu-list__link {
    color: #fff;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
  }
}
.header-menu-list__link span {
  position: relative;
  line-height: 28px;
}
.header-menu-list__link span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #18181D;
  transition: all 0.3s ease 0s;
}
@media (max-width: 790px) {
  .header-menu-list__link span::after {
    background-color: #fff;
  }
}
.header-menu-list__link:hover span::after {
  left: 0;
  width: 100%;
}

.header-body-titles {
  margin: 0px 0px 20px 0px;
  padding: 20px;
  background-color: #E78818;
  text-transform: uppercase;
  text-align: right;
}
.header-body-titles__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
}
@media (max-width: 860px) {
  .header-body-titles__title {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 650px) {
  .header-body-titles__title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 540px) {
  .header-body-titles__title {
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .header-body-titles__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.header-body-titles__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
@media (max-width: 860px) {
  .header-body-titles__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 650px) {
  .header-body-titles__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 540px) {
  .header-body-titles__subtitle {
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .header-body-titles__subtitle {
    font-size: 18px;
    line-height: 23px;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #E78818;
  margin: 0px 0px 20px 0px;
}

.content-body {
  display: flex;
  font-size: 0px;
}
@media (max-width: 860px) {
  .content-body {
    flex-direction: column;
  }
}
.content-body__column.column__1 {
  flex: 0 0 300px;
  background-color: #18181D;
  padding: 25px 0px 0px 25px;
}
@media (max-width: 860px) {
  .content-body__column.column__1 {
    padding: 25px 25px 0px 25px;
  }
}
.content-body__column.column__2 {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 25px 35px 0px 35px;
}

.item-contacts {
  padding: 0px 0px 20px 0px;
}

.contacts {
  color: #fff;
}
.contacts__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .contacts__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 479.98px) {
  .contacts__title {
    font-size: 23px;
    line-height: 28px;
  }
}

.contacts-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}
.contacts-list li a {
  color: #E78818;
}
.contacts-list li a:hover {
  text-decoration: underline;
}
.contacts-list__item {
  margin: 0px 0px 5px 0px;
}
.contacts-list__item:last-child {
  margin: 0px 0px 0px 0px;
}

.item-skills {
  padding: 0px 0px 20px 0px;
}

.skills {
  color: #fff;
}
.skills__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .skills__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 479.98px) {
  .skills__title {
    font-size: 23px;
    line-height: 28px;
  }
}
.skills-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #E78818;
}
.skills-list li {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 30px;
}
.skills-list li:last-child {
  margin: 0px 0px 0px 0px;
}
.skills-list__html {
  background: url("../img/icons/01.svg") left no-repeat;
}
.skills-list__css {
  background: url("../img/icons/02.svg") left no-repeat;
}
.skills-list__sass {
  background: url("../img/icons/03.svg") left no-repeat;
}
.skills-list__js {
  background: url("../img/icons/04.svg") left no-repeat;
}
.skills-list__c {
  background: url("../img/icons/05.svg") left no-repeat;
}
.skills-list__git {
  background: url("../img/icons/06.svg") left no-repeat;
}

.item-about {
  padding: 0px 0px 20px 0px;
}

.about__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 860px) {
  .about__title {
    text-align: left;
  }
}
@media (max-width: 650px) {
  .about__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 479.98px) {
  .about__title {
    font-size: 23px;
    line-height: 28px;
  }
}
.about__text {
  margin: 0px 0px 15px 0px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  text-align: justify;
}
.about__quote {
  display: block;
  border-left: 5px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px 0px 5px 5px;
  quotes: none;
  margin: 0px 0px 15px 0px;
  font-style: italic;
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
}

.about-education {
  margin: 0px 0px 15px 0px;
}

.education__title {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.education-list {
  padding: 0px 0px 0px 15px;
}
.education-list__item {
  margin: 0px 0px 5px 0px;
  list-style-type: circle;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.languages__title {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.languages-list {
  padding: 0px 0px 0px 15px;
}
.languages-list__item {
  margin: 0px 0px 5px 0px;
  list-style-type: circle;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.item-code {
  padding: 0px 0px 20px 0px;
}
@media (max-width: 479.98px) {
  .item-code {
    display: none;
  }
}

.code__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 860px) {
  .code__title {
    text-align: left;
  }
}
@media (max-width: 650px) {
  .code__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 479.98px) {
  .code__title {
    font-size: 23px;
    line-height: 28px;
  }
}
.code__code {
  display: flex;
  font-size: 0px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  tab-size: 30px;
  max-width: 630px;
  overflow: hidden;
  color: #fff;
  background-color: #18181D;
  letter-spacing: 1px;
  font-family: monospace;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  white-space: pre;
}
@media (max-width: 650px) {
  .code__code {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 540px) {
  .code__code {
    font-size: 14px;
    line-height: 19px;
  }
}

.item-projects {
  padding: 0px 0px 20px 0px;
}

.projects__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 860px) {
  .projects__title {
    text-align: left;
  }
}
@media (max-width: 650px) {
  .projects__title {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 479.98px) {
  .projects__title {
    font-size: 23px;
    line-height: 28px;
  }
}
.projects__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.footer-body {
  display: flex;
  font-size: 0px;
}
.footer-body__column.column__1 {
  flex: 0 0 300px;
  background-color: #18181D;
}
@media (max-width: 860px) {
  .footer-body__column.column__1 {
    flex: 0 0 0;
  }
}
.footer-body__column.column__2 {
  flex: 1 1 auto;
  background-color: #fff;
  padding: 25px 35px 20px 35px;
}
.footer-body__text {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}
.footer-body__link img {
  width: 100%;
}