@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  font-size: 0px;
  flex-direction: column;
}

body {
  height: 100%;
}

.content {
  flex: 1 1 auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  color: #000;
}

.header-body {
  display: flex;
  font-size: 0px;
  background-color: #18181D;
}
.header-body__column.column__1 {
  flex: 0 0 300px;
}
.header-body__column.column__2 {
  padding: 50px 0px 0px 0px;
  flex: 1 1 auto;
}
.header-body__icon img {
  width: 300px;
  height: 300px;
}

.header-menu__menu {
  background-color: #E78818;
  padding: 10px 0;
  margin: 0px 0px 20px 0px;
}

.header-menu-list {
  display: flex;
  font-size: 0px;
  justify-content: flex-end;
}
.header-menu-list__link {
  display: block;
  margin: 0px 30px 0px 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #18181D;
  position: relative;
}
.header-menu-list__link span {
  position: relative;
  line-height: 28px;
}
.header-menu-list__link span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #18181D;
  transition: all 0.3s ease 0s;
}
.header-menu-list__link:hover span::after {
  left: 0;
  width: 100%;
}

.header-body-titles {
  padding: 20px;
  background-color: #E78818;
  color: #18181D;
  text-transform: uppercase;
  text-align: right;
}
.header-body-titles__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
}
.header-body-titles__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.content-body {
  display: flex;
  font-size: 0px;
}
.content-body__column.column__1 {
  flex: 0 0 300px;
  background-color: #18181D;
  padding: 25px 0px 0px 25px;
}

.education {
  color: #fff;
  margin: 0px 0px 20px 0px;
}
.education__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
}
.education__university {
  max-width: 250px;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}
.education__faculty {
  font-size: 22px;
  line-height: 27px;
  text-transform: capitalize;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #E78818;
  margin: 0px 0px 20px 0px;
}

.skills {
  color: #fff;
}
.skills__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
}
.skills-list {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #E78818;
}
.skills-list li {
  margin: 0px 0px 15px 0px;
}
.skills-list__html {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/01.svg") left no-repeat;
}
.skills-list__css {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/02.svg") left no-repeat;
}
.skills-list__sass {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/03.svg") left no-repeat;
}
.skills-list__js {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/04.svg") left no-repeat;
}
.skills-list__c {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/05.svg") left no-repeat;
}
.skills-list__git {
  padding: 0px 0px 0px 40px;
  background: url("../img/icons/06.svg") left no-repeat;
}